body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.forget_pass
{
	width:800px;
	margin-top:30px;
	margin-left: 275px;
	color:#000000;
	padding : 10px 0px 10px 0px;
	text-align:center;
}
		
.form
{
	width : 800px;
	margin-left : 275px;
	margin-bottom : 30px;
	font-size : 20px;
	color : #000000;
}
					
form
{
	padding:20px;
}
		
input[type=text], input[type=password]
{
	width: 95%;
	padding : 10px;
	margin : 5px 0 22px 0;
	border : none;
	border-bottom : 2px solid black;
	background: transparent;
	outline : none;
	font-size : 16px;
	color:black;
}
		
input[type=text] : focus, input[type=password]:focus, input[type = date]:focus
{
	outline : none;
}
				
input[type=submit]
{
	background-color : red;
	color :  white;
	width : 100%;
	padding : 10px;
	border : none;
	border-radius : 20px;
	font-size : 20px;
}

input[type = submit]:hover
{
	cursor : pointer;
	background : #00008B;
	color :  white;
}
		
.visible i
{
	position : absolute;
	margin : 15px 0px 0px -30px;
	cursor : pointer;
}
		
i.fa-eye
{
	margin-top:10px;
}
